<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice App</title>
</head>
<body>
    <h1>May the force be with you</h1>
    <section>
        <form action="/quotes" method="POST">
            <input type="text" placeholder="name" name="name" />
            <input type="text" placeholder="quote" name="quote" />
            <button type="submit">Submit</button>
          </form>
    </section>
    <section>
        <h2>Quotes</h2>

        <ul class="quotes">
          <!-- Loop through quotes -->
          <% for(var i = 0; i < info.length; i++) {%>
          <li class="quote">
            <!-- Output name from the iterated quote object -->
            <span><%= info[i].name %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= info[i].quote %></span>
          </li>
          <% } %>
        </ul>
    </section>
    <section>
        <div>
            <h2>Changes!</h2>
            <p>Replace first quote with a quote written by Darth Vader</p>
            <button id="update-button">Replace quote</button>
          </div>
    </section>
    <script src="/main.js"></script>
</body>
</html>